
.ui-page
{
background: #000;
background-image:url("Street Masters background.png");
background-size:cover;
}

.cardbg {
    background:url("Street Masters card background.png");
    background-size:cover;
    text-shadow: none !important;
    font-family: 'IBM Plex Sans', sans-serif !important; 
    font-style: italic;
    }

    .refcard {
        background:url("Street Masters card background.png");
        background-size:cover;
        text-shadow: none !important;
        font-family: 'IBM Plex Sans', sans-serif !important; 
        white-space:normal !important; 
        border-color: #bbb; 
        color: #333 !important; 
        }

    .cardadvance {
        background:url("Advance.png");
        background-size:cover;
        color: black !important;
        text-shadow: none !important;
        }

    .ui-dialog-contain{
        background: #000;
background-image:url("Street Masters background.png");
background-size:cover;
    }

    #players-button, #storylength-button {
        background: #e7aa3c;
        text-shadow: none;
        border: 2pt solid rgba(255,255,255,1);
    }


